:root {
  --LarguraDaPagina: 80dvw;
}

#root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10dvh;
  width: var(--LarguraDaPagina);
  margin: 0;
}

.header {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #000;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
}

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: auto;
  /* width: 100%; */
}

.containerPrincipal{
  display: flex;
  object-fit: contain;
  margin: auto;
  width: 80vw;
}

ul li {
  all: unset;
  margin: 0;
}

ul {
  display: flex;
  gap: 130px;
}

li {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: rgb(255, 140, 0);
}

h2{
  font-size: 1.75rem;
  padding: 0;
  margin: 0;
}

.DescricaoSidebar{
  padding-right: 5px;
  font-size: 0.85rem;
  margin-top: 10px;
  display: flex;
  height: auto;
  width: 17.5vw;
}

.BotaoNav {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 200px;
  height: 50px;
  /* background-color: red; */
  text-align: center;
  gap: 10px;
  font-size: 100%;
  text-wrap: nowrap;
}

nav {
  all: unset;
  /* background-color: aqua; */
  height: 90dvh;
  width: 25%;
  margin-left: 0;
}

.FotoDePerfil {
  height: 12.5vw;
  width:  12.5vw; /* Garantir que altura e largura sejam iguais */
  border-radius: 50%; /* Deixa a imagem circular */
  object-fit: cover; /* Garante que a imagem preencha o espaço corretamente */
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ImagemSidebar {
  height: 40px;
}

main{
  width: 75%;
  height: 90dvh;
  /* background-color: blue; */
  padding: 10px}

.container{
  display: flex;
  flex-wrap: wrap;
  height: 20px;
  gap: 10px;
  width: 10%; 
  padding: 0px;
  margin-top: 10px ;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-size: 2rem;
}
a:hover {
  color: #535bf2;
}

p{
  margin: 10px 0;
  padding: 5px 10px;
}